*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
img{
    vertical-align: middle;
}

.container{
    position: relative;
}

.relianceSlides{
    display: none;
}

#firstslide{
    display: block;
}
.prev, .next{
    position: absolute;
    cursor: pointer;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    opacity: 0;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
background-color: black;
color: white;
opacity: 1;
}

.numbertext{
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    
}
.caption-container{
    background-color: #222;
    padding: 2px 16px;
    color: white;
    text-align: center;
}

